@{
    ViewBag.Title = "Contact";
}
@model BookingGround.Models.LoginManage
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
                </span>
            </button>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class=""><a href="/Home/Index">TRANG CHỦ</a> </li>
                    <li class=""><a href="/Booking">ĐẶT SÂN</a> </li>
                    <li class=""><a href="/Search">SÂN BÓNG ĐÁ</a> </li>
                    <li class=""><a href="/News">TIN TỨC</a> </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">CÔNG
                        CỤ<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Administrative Tools</li>
                            <li><a href="/MasterGroundManage">Master Ground Management</a></li>
                            <li><a href="/Home/Underconstruction">User Management</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Ground Manager's Tools</li>
                            <li><a href="/GroundManage">Ground Management</a></li>
                            <li><a href="/ManualBooking">Manual Booking</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">User Profile</li>
                            <li><a href="/Home/Underconstruction">Account Info</a></li>
                            <li><a href="/Home/Underconstruction">Preferences</a></li>
                            <li><a href="/Cancel">History / Cancel Booked</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="/Home/Contact">LIÊN HỆ</a> </li>
                    @if (Model.isLogin)
                    {
                        <li class=""><a href="/Account/LogOff">ĐĂNG XUẤT</a> </li>
                    }
                    else
                    {
                        <li class=""><a href="/Account/LogOn">ĐĂNG NHẬP</a> </li>

                        <li class=""><a href="/Account/Register">ĐĂNG KÝ</a> </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<header class="subhead" id="overview">
    <p><img src="../../Content/img/banner1.jpg"/></p>
</header>




<div class="container">
    <div class="row">
        <div class="span3 bs-docs-sidebar" id="navlist">
            <ul class="nav nav-list bs-docs-sidenav">
                <li><a href="/Home/Index">Giới Thiệu Chung</a></li>
                <li><a href="/Booking">Đặt Sân</a></li>
                <li class="dropdown-submenu"><a tabindex="-1" href="/Search">Sân Bóng</a>
                    <ul class="dropdown-menu">
                        <li style="text-align: center">Danh Sách Quận</li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="/Search">Quận 1</a></li>
                        <li><a tabindex="-1" href="/Search">Quận 2</a></li>
                    </ul>
                </li>
                <li><a href="/News">Tin Tức</a></li>
                <li><a href="/GroundManage">Quản lý sân bóng</a></li>
                <li><a href="/Home/Underconstruction">Công Cụ</a></li>
                <li><a href="/Home/Contact">Liên Hệ</a></li>
            </ul>
        </div>
        <div class="span9">
            <div class="page-header">
                <h1>
                    <p style="margin-left: 27%; color: #8E849F;">
                        Liên Hệ</p>
                </h1>
            </div>
            <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputEmail">
                    Email</label>
                <div class="controls">
                    <input type="text" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputName">
                    Tên</label>
                <div class="controls">
                    <input type="text" id="inputName" placeholder="Họ Tên">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label>
                        Tại sao bạn muốn liên hệ với chúng tôi</label>
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button type="button" class="btn">
                            Feedback</button>
                        <button type="button" class="btn">
                            Trợ giúp</button>
                    </div>
                    <label>
                        Nội dung:</label>
                    <textarea style="width: 300px; height: 150px" rows="3"></textarea>
                    <br />
                    <br />
                    <p style="margin-left: 55px">
                        <a class="btn btn-primary btn-large">Gởi thông tin</a></p>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
